.about{
    transform: translate(-10000px,-10000px);
}
.about-active{
    transition: 1s;
}

.info p{
    margin-top: 20px;
    line-height: 30px;
    color: #edf6e5de;
}
.info{
    width: 60%;
}
.about-top{
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
}
.about-top img{
    transform: rotate(4deg);
    width: 350px;
    border-radius: 20px;
}
.certificates{
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    padding-bottom: 100px;
}
.certificates img{
    width: 100%;

}
.certificates-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    padding-bottom: 50px;
}
.certificates-container a{
    display: inline-block;
    width: 40%;
    margin: 20px;
}
@media screen  and (max-width:1500px){
    .info{
        width: 60%;
    }
    .about-top img{
        width: 30%;
        height: 30%;
    }
}
@media screen  and (max-width:1000px){
    .certificates-container a{
        width: 45%;
        margin: 10px;
    }
}
@media screen  and (max-width:800px){
    .certificates-container a{
        width: 95%;
        margin: 10px;
    }
    .about-top{
        display: block;
        margin-left: 20px;
    }
    .info{
        width: 90%;
    }
    .about-top img{
        width: 40%;
        height: 40%;
        margin: 0 auto;
        margin-top: 20px;
        display: block;
    }
}
