.pages{
    display: flex;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 35%;
    height: 40px;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    padding: 0 15px;
}
.pages a{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: green;
}
.pages .active{
    color: rgb(57, 185, 67)
}
.pages p:hover{
    cursor: pointer;
}
@media screen and (max-width: 1400px) {
    .pages{
        width: 50%;
    }
}
@media screen and (max-width: 1000px) {
    .pages{
        width: 70%;
    }
}
@media screen and (max-width: 700px) {
    .pages{
        width: 90%;
    }
}
@media screen and (max-width: 500px) {
    .pages a{
        font-size: 12px;
    }
    .pages{
        width: 97%;
    }
}