.home{
    width: 70vw;
    min-height: 100vh;
    margin: 0 auto;
    background-color: rgb(21, 29, 59);
    position: relative;
}
.language-container{
    position: fixed;
    bottom: 1%;
    right: 15%;
    display: flex;
    z-index: 999;
}
.language-btn{
    color: rgba(71, 71, 71, 0.932);
    border: 1px solid #edf6e5c5;
    border-radius: 2px;
    padding: 2px 5px;
    background-color: #edf6e5c5;
    margin: 0 1px;
}
.language-btn-active{
    border: 1px solid #a71535;
    color: #a71535;
}
.back-top{
    position: absolute;
    display: none;
    top: -50px;
    left: 15%;
    border: 1px solid rgba(255, 255, 255, 0.514);
    background-color: green;
    padding: 5px 15px;
    border-radius: 10px;
    color: white;
    font-size: 25px;
}
.home-active{
    padding-bottom: 50px;
}
@media screen and (max-width:1300px){
    .home{
        width: 80vw;
    }
}
@media screen and (max-width:800px){
    .back-top{
        display: block;
    }
}
@media screen and (max-width:600px){
    .home{
        width: 90vw;
    }
    .language-container{
        position: fixed;
        bottom: 1%;
        right: 5%;
        display: flex;
    }

}

@media screen and (max-width:400px){
    .home{
        width: 100vw;
    }
}